@tailwind base;
@tailwind components;
@tailwind utilities;

.envelope {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background-color: #d3d3d3;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  cursor: pointer;
}

.envelope-flap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #f5f5f5;
  border-radius: 0 0 50% 50%;
  transform-origin: top;
  transition: transform 0.5s ease-in-out;
}

.envelope-body {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d3d3;
  border-radius: 0 0 15px 15px;
}


.envelope.open .envelope-flap {
  transform: rotateX(-180deg);
}

.invitation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.envelope.open + .invitation {
  opacity: 1;
}